.git
.settings
.metadata
Debug
Release
.metadata/.log
*.prefs
*.xmi
*.snap
*.resources
*.index
*.snap
*.resources
*.xmi
.metadata/.ide.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/Timers.1627723406163.pdom
